﻿@font-face {
    font-family: 'SourceSans Pro';
    src: 
        url('../font/SourceSansPro-Semibold.eot') format('embedded-opentype'),
        url('../font/SourceSansPro-Semibold.ttf') format('truetype'),
        url('../font/SourceSansPro-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SourceSans Pro - Regular';
    src: 
        url('../font/SourceSansPro-Regular.eot') format('embedded-opentype'),
        url('../font/SourceSansPro-Regular.ttf') format('truetype'),
        url('../font/SourceSansPro-Regular.otf') format('opentype');
}

body { margin: 0; padding: 0; font-family: 'SourceSans Pro'; font-size: 14px; color: #333; background-color: rgb(235, 235, 235); }

.header { 
    background-color: white; border-bottom: 1px solid rgb(205, 205, 205);
    -webkit-box-shadow:  0px 0px 1px 1px rgba(185, 185, 185, 0.6);
    -moz-box-shadow:  0px 0px 1px 1px rgba(185, 185, 185, 0.6);
    box-shadow: 0px 0px 1px 1px rgba(185, 185, 185, 0.6);
    position: fixed; top: 0; left: 0; right: 0; z-index: 1;
}

.pagecontent { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; overflow-x: auto; }

.apireq {
    background-color: white; border-bottom: 1px solid rgb(205, 205, 205);
    -webkit-box-shadow:  0px 0px 3px 1px rgba(185, 185, 185, 0.8);
    -moz-box-shadow:  0px 0px 3px 1px rgba(185, 185, 185, 0.8);
    box-shadow: 0px 0px 3px 1px rgba(185, 185, 185, 0.8);
    width: 1000px; margin: auto; margin-top: 80px;
}

.stdlabel { color: rgb(27, 143, 203); font-size: 15px; display: block; margin-bottom: 5px; }

.apireq > .cover { padding: 20px; }
.apireq > .cover > .reqresp { margin-top: 20px; }
.apireq > .cover > .reqresp > .req { display: inline-table; width: 475px; }
.apireq > .cover > .reqresp > .req > .btn {
    font-family: 'SourceSans Pro'; font-size: 14px; outline: none;
    margin-top: 10px; border: 1px solid rgb(175, 175, 175); width: 100%; height: 34px;
    cursor: pointer;
}
.apireq > .cover > .reqresp > .req > .btn:hover { border-color: rgb(150, 150, 150); background-color: rgb(210, 210, 210); }

.apireq > .cover > .reqresp > .req > .txtbox { 
    color: rgb(25, 25, 25); font-family: 'SourceSans Pro'; font-size: 15px; outline: none; resize: none;
    border: 1px solid rgb(175, 175, 175); border-radius: 1px; height: 350px;
    display: block; width: 100%; box-sizing: border-box; padding: 8px;
}
.apireq > .cover > .reqresp > .req > .txtbox:hover, .apireq > .cover > .reqresp > .req > .txtbox:focus { border-color: rgb(145, 145, 145); }

.apireq > .cover > .reqresp > .resp { display: inline-table; width: 475px; float: right; }
.apireq > .cover > .reqresp > .resp > .txtbox { 
    color: rgb(25, 25, 25); font-family: 'SourceSans Pro'; font-size: 15px; outline: none; resize: none;
    border: 1px solid rgb(175, 175, 175); border-radius: 1px; height: 350px;
    display: block; width: 99%; box-sizing: border-box; padding: 8px;
}
.apireq > .cover > .reqresp > .resp > .txtbox:hover, .apireq > .cover > .reqresp > .resp > .txtbox:focus { border-color: rgb(145, 145, 145); }
.apireq > .cover > .reqresp > .resp > .resptime { margin-top: 16px; }

.apireq > .cover > .labels { color: rgb(27, 143, 203); font-size: 15px; display: block; margin-bottom: 5px; }
.apireq > .cover > .txtbox { 
    color: rgb(75, 75, 75); font-family: 'SourceSans Pro'; font-size: 15px; outline: none;
    border: 1px solid rgb(175, 175, 175); border-radius: 1px;
    display: block; padding-top: 8px; padding-bottom: 8px; text-indent: 8px; width: 99.5%;
}
.apireq > .cover > .txtbox:hover, .apireq > .cover > .txtbox:focus { border-color: rgb(145, 145, 145); }

.header > .inner_section { padding: 15px; padding-left: 20px; font-size: 15px; }
.header > .inner_section > span { color: rgb(27, 143, 203); }

.header > .inner_section > .headerlink { 
    font-family: 'SourceSans Pro'; font-size: 15px; color: rgb(130, 130, 130); 
    background: none; border: 2px solid rgb(210, 210, 210); border-top: none; border-bottom: none; border-left: none; cursor: pointer;
    width: 210px; text-align: left; text-indent: 10px; height: 45px; outline: none; margin-right: 10px;
    background: url('../images/icons/arrows.png') no-repeat;
    background-size: 13px;
    background-position: 92% 17px;
}
.header > .inner_section > .options { 
    font-family: 'SourceSans Pro'; font-size: 15px; 
    display: inline-block; padding: 14px 10px 11px 10px; margin-left: 25px; border-bottom: 2px solid transparent;
    color: #333; cursor: pointer; text-decoration: none;
}
.header > .inner_section > .options-right { float: right; margin-left: 0; margin-right: 25px; }
.header > .inner_section > .options-selected { border-bottom: 2px solid rgb(0, 161, 242); }
.header > .inner_section > .options:hover { transition: 0.2s; border-bottom: 2px solid rgb(0, 161, 242); }
.header > .inner_section > .headerlink:hover { transition: 0.2s; background-color: rgb(235, 235, 235); }

.content { 
    position: fixed; top: 60px; left: 50px; right: 50px; min-height: 50px;
    background-color: white; border: 1px solid rgb(200, 200, 200); border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0.5px 0.5px rgba(185, 185, 185, 0.50);
    -moz-box-shadow: 0px 0px 0.5px 0.5px rgba(185, 185, 185, 0.50);
    box-shadow: 0px 0px 1px 1px rgba(185, 185, 185, 0.2);
}
.content > .inner_section { padding: 20px; padding-bottom: 30px; }

.ov_header { width: 100%; margin-bottom: 20px; }
.column { width: 100%; border-bottom: 1px solid rgb(200, 200, 200); }
.column > .items { display: inline-block; min-width: 200px; padding-top: 5px; padding-bottom: 5px; font-size: 12px; color: rgb(150, 150, 150); text-transform: uppercase; }
.item-type1 { width: 250px; }
.item-type2 { width: 300px; }

.row { width: 100%; border-bottom: 1px solid rgb(200, 200, 200); font-size: 14px; }
.row > .items { display: inline-block; min-width: 200px; height: 40px;  }
.row > .items > span { vertical-align: -12px; }

.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }

.spacer5 { height: 5px; }
.spacer10 { height: 10px; }
.spacer15 { height: 15px; }
.spacer20 { height: 20px; }
.spacer25 { height: 25px; }


